@include media-tablet {
  .definition {
    display: flex;
  }
}

.definition-wrap {
  padding-bottom: 16px;
}

.definition__text {
  display: inline;
  line-height: 20px;
  letter-spacing: 0.2px;

  &_visible768 {
    display: none;

    @include media-tablet {
      display: inline-block;
      margin-block-end: 0;
    }
  }
  &_visible1120 {
    display: none;

    @include media-notebook {
      display: inline;
    }
  }

  &_invisible {
    display: none;
  }
}

.read-more__btn {
  border: 2px solid $gradient;
  background-color: transparent;
  font-family: "TT Lakes", sans-serif;
  font-size: $fs16;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: $text-color;
  line-height: 24px;
  padding-left: 0;
  cursor: pointer;
}

.read-more__img {
  vertical-align: middle;
  padding: 0 7px 0 5px;
}

.read-more__img_rotate {
  transform: rotateX(180deg);
}

.read-more__btn_close {
  display: none;
}
