$bg-white: #FFFFFF;

$separator: #EAEAEA;

$btn: #FF3E79;
$btn-shadow: #db34ac;
$btn-shadow2: #b02d7b;

$gradient: #F8F8F8;

$active: #41F6D7;

$text-color: #1B1C21;
$text-grey: #7E7E82;

$mobile-width: 320px;
$tablet-width: 768px;
$notebook-width: 1120px;
$desktop-width: 1440px;

$font-default: 14px;
$fs16: 16px;
