.title {
  background: linear-gradient(270deg, $gradient 0%, $bg-white 98.61%);
  padding: 16px 0 16px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-bottom: 16px;
  margin-top: 24px;

  &__paragraph {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: $fs16;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $text-grey;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}